  <div class="info">
      <!-- <div class="label">
    </div> -->
    <div class="available">
    </div>
    <div class="forecasts">
    </div>
    <div class="alt"> 
      <div class="a_label">
      </div>
      <div class="a_available">
      </div>
      <div class="a_averages">
      </div>
    </div>
  </div>