<div class="welcome visinfo">
  <div class="w_close">
    x
  </div>
   <h3> Flow Visualization:</h3>
     <ul>
     <li>Based on data collected every hour from June 2, 2014 through July 11, 2014</li>
     <li>Filtered for weekdays only</li>
      <li>NYC split into five sections, each section represented by a color.  The darkness of color represents how saturated with bikes that section is as aStation radius represents saturation for that particular station</li>
        <li>White circle in middle represents bikes in use</li>
     </ul>
</div>
<script>
function welcomeClosable(){
  $('.welcome .w_close').click(function(){
    close('.welcome')
  })
}

$(function(){
  welcomeClosable();
})
</script>
