
<div class="welcome">
  <div class="w_close">
    x
  </div>
   <h3> Welcome to Bike-Vis!</h3>
     <ul>
     <li>Color represents station saturation; darker equals more bikes</li>
      <li>Click on a station for current status</li>
      <li>Choose "Pick Up" / "Drop Off" within station popup for more info:</li>
          <ul>
            <li>Forecast of bikes/docks over next two hours based on historical data for current day and time</li>
            <li>The best alternative station to use</li>
          </ul>

        <li>Signup as a user or Login with Twitter/Facebook to save your favorite stations</li>
        <li>Filter for your favorites using box in top right corner of map</li>
     </ul>
</div>
<script>
function welcomeClosable(){
  $('.welcome .w_close').click(function(){
    close('.welcome')
  })
}
function close(div){
  $(div).css('display','none')
}
$(function(){
  welcomeClosable();
})
</script>
