
<div class="top-bar">
    <h1 class="title">bike-vis</h1>
  <!--   <a class="signin" href="#">
      Login | Signup
    </a> -->

</div>
<div class="container">
  <div class="sidebar">
    <div class="from_to">
      <div class="from">
        <div class='trip_label from_head'>Pick Up Station
          <div class="label">
          </div>
        </div>
        <div class="trip_info pickup">
          <div class="info">
            
            <div class="available">
            </div>
            <div class="averages">
            </div>
            <div class="alt">
              <div class="a_label">
              </div>
              <div class="a_available">
              </div>
              <div class="a_averages">
              </div>
            </div>
          </div> <!-- close info -->
        </div> <!-- close trip_info pickup -->
      </div> <!-- close from -->
      <div class="to">
        <div class='trip_label to_head'>Drop Off Station</div>
        <div class="trip_info dropoff">
          <div class="info">
            <div class="label">
            </div>
            <div class="available">
            </div>
            <div class="averages">
            </div>
            <div class="alt"> 
              <div class="a_label">
              </div>
              <div class="a_available">
              </div>
              <div class="a_averages">
              </div>
            </div>
          </div>
        </div>
      </div> <!-- close to -->
    </div> <!-- close from_to -->
    <div class="info_box">
      

    </div>
  </div> <!-- close sidebar -->
  <div id="map1" class="map"></div>
</div>
</div>

<script>
  $(function() {
    $( "#slider" ).slider();
  });
  </script>

 




<%= render 'accounts' %>
