
<div class="top-bar">
    <h1 class="title">bike-vis</h1>
    <a class="signin" href="#">
      Login | Signup
    </a>
  
</div>

<div class="sidebar">
  <div class="from">
    Pick Up Station
  </div>
  <div class="to">
    Drop Off Station
  </div>
</div>

<div id="map1" class="map"></div>

<select id="station-select"></select>

<style> /*<%= render 'accounts' %>
*/</style>




