
<div class="top-bar">
    <h1 class="title">bike-vis</h1>
    <a class="signin" href="#">
      Login | Signup
    </a>
  
</div>

<div class="sidebar">
  
</div>

<div id="map1" class="map"></div>



<style> /*<%= render 'accounts' %>
*/</style>

<select id="station-select"></select>


