
<div class="top-bar">
    <h1 class="title">bike-vis</h1>
  <!--   <a class="signin" href="#">
      Login | Signup
    </a> -->

</div>
<div class="container">
  <div class="sidebar">
    <div class="from_to">

      <div class="from">
        <div class='trip_label'>Pick Up Station</div>
        <div class="pickup_info">
          <div class="label">
            
          </div>
          <div class="available">
           
          </div>
          <div class="averages">

          </div>
          
          <div class="alt">
            Alternative
            <div class="a_label">

          </div>
          <div class="a_available">

          </div>
          <div class="a_averages">

          </div>
          </div>
        </div>
      </div>
      <div class="to">
        <div class='trip_label'>Drop Off Station</div>
        <div class="dropoff_info">
          <div class="label">

          </div>
          <div class="available">

          </div>
          <div class="averages">

          </div>
          
          <div class="alt">
            Alternative
            <div class="a_label">

          </div>
          <div class="a_available">

          </div>
          <div class="a_averages">

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  

  <div id="map1" class="map"></div>
</div>

<%= render 'accounts' %>
