
<div class="top-bar">
    <h1 class="title">bike-vis</h1>

</div>
<div class="container">
  <div class="sidebar">
    <div class="from_to">
      <div class="from">
        <div class='trip_label from_head'>Pick Up Station
          <div class="label">
          </div>
        </div>
        <div class="trip_info pickup">
          <%= render 'info' %>
        </div> <!-- close trip_info pickup -->
      </div> <!-- close from -->
      <div class="to">
        <div class='trip_label to_head'>Drop Off Station
          <div class="label">
          </div>
        </div>
        <div class="trip_info dropoff">
          <%= render 'info' %>
        </div> <!-- close trip_info dropoff -->
      </div> <!-- close to -->
    </div> <!-- close from_to -->
    <div class="info_box">
    </div>
    <div class="page_links">
      <a href="/vis"><button id="vis">
              Timeline<br/>Map
            </button></a>
      <a href="/staticvis"><button id="static">
              Usage<br/>Map
            </button></a>

    </div>
  </div> <!-- close sidebar -->
  <div id="map1" class="map"></div>
</div>
</div>
<%= render 'welcome' %>
<%= render 'accounts' %>
