
<div class="top-bar">
    <h1 class="title">bike-vis</h1>
  <!--   <a class="signin" href="#">
      Login | Signup
    </a> -->

</div>
<div class="container">
  <div class="sidebar">
    <div class="from_to">

      <div class="from">
        <div class='trip_label'>Pick Up Station</div>
        <div class="pickup_info">
          <div class="label">
            W 22 & Beachnut
          </div>
          <div class="available">
           Bikes: 10
          </div>
          <div class="averages">
           Avg: 8 +1hr: 5 +2hr:7
          </div>
          
          <div class="alt">
            Alternative
            <div class="a_label">
            W 21 & Kickball
          </div>
          <div class="a_available">
           Bikes: 12
          </div>
          <div class="a_averages">
           Avg: 11 +1hr: 9 +2hr: 6
          </div>
          </div>
        </div>
      </div>
      <div class="to">
        <div class='trip_label'>Drop Off Station</div>
        <div class="dropoff_info">
          <div class="label">
            W 22 & Greenie
          </div>
          <div class="available">
           Docks: 10
          </div>
          <div class="averages">
           Avg: 8 +1hr: 5 +2hr:7
          </div>
          
          <div class="alt">
            Alternative
            <div class="a_label">
            W 21 & Kickball
          </div>
          <div class="a_available">
           Docks: 12
          </div>
          <div class="a_averages">
           Avg: 11 +1hr: 9 +2hr: 6
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  

  <div id="map1" class="map"></div>
</div>

<%= render 'accounts' %>
