<div class="top-bar">
    <h1 class="title">bike-vis</h1>
  
</div>
<span class="in-vis-span" data-vis='static'></span>

<div id="map1" class="map"></div>

<div class="sidebar">
  
</div>

<%= render 'accounts' %>