<i class="fa fa-facebook-square"></i>
<i class="fa fa-twitter-square"></i>


<div id="hour"></div>
<div id="start-stop-div"><button id="start-stop-button">Start/Stop</button></div>

<span class="in-vis-span" data-vis='in-vis'></span>


<div id="map1" class="map"></div>
