
<div class="top-bar" >
    <h1 class="title">bike-vis</h1>
  <div class="page_links" style="margin-left: 11em; margin-top: .5em">
      <a href="/"><button id="vis">
              Trip<br/>Planner
            </button></a>
      <a href="/staticvis"><button id="static">
              Usage<br/>Map
            </button></a>

  </div>
</div>

<span class="in-vis-span" data-vis='in-vis'></span>


<div class="sidebar">

  <div class="controller">
    
    <!-- <div id="start-stop-div"><button id="start-stop-button">Start/Stop</button></div> -->

    <div id="hour"></div><div id="start-stop-div"><button id="start-stop-button">Start/Stop</button></div>
    <div id="slider-vertical" style="height:200px;"></div>
  </div>
  
</div>



<div id="map1" class="map"></div>


<%= render 'accounts' %>
<%= render 'visinfo' %>