<i class="fa fa-facebook-square"></i>
<i class="fa fa-twitter-square"></i>



<span class="in-vis-span" data-vis='in-vis'></span>


<div class="sidebar">

  <div id="hour"></div>
  <div id="start-stop-div"><button id="start-stop-button">Start/Stop</button></div>

  <div id="slider-vertical" style="height:200px;"></div>



</div>



<div id="map1" class="map"></div>
