body {
 background-color: black;
 margin: 0;
}
.top-bar {
  height: 2.77em;
  background-color: black;


}
.title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: lightblue;
  position: absolute;
  top: .15em;
  left: .5em;
  font-family: helvetica;
}
.account_stuff {
  text-decoration: none;
  color: gray;
  font-size: 1em;
  font-family: helvetica;
  position: absolute;
  margin-right: 2px;
  right: 2em;
  top:.8em;
}
.fa {
  right: 0;
}
#login-link {
  right: 6em;
}
#signup-link {
  position: absolute;
  right: 8.5em;
}
.twit, #twit{
  position: absolute;
  margin-right: 2.6em;
}
.fb, #fb{
  margin-right: 1.4em;


}
.container {

}

.sidebar {
  position: absolute;
  margin: 0;
  top:2.79em;
  bottom:0;
  left:0;
  width: 22.54%;
  height: 100%;
  background-color: black;
  -webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
  -moz-transition: width .5s;
  transition: width .5s;
  /*border: 2px solid lightyellow;*/

}
.to, .from {
  font-family: helvetica;
  color: lightyellow;
  font-weight: normal;
  font-size: 1.3em;
  margin: 0 -.1em 0 0;
  padding-left: .5em;


  /*border-radius: 5px*/;
}
.trip_label {
  margin-right: -.9em;
  padding: .5em 1em 0 .5em;
  z-index: 9;
  border-top: 1px solid lightyellow;
  /*border-top-right-radius: 10px;*/
}

.from_head {
  /*background-color: #2D2D45;*/
}
.to_head {
  /*background-color: #2A2A2B;*/
}
.trip_info {
  font-family: helvetica;
  color: #2A2A3B;
  font-weight: normal;
  padding-top: 0;
  /*border-radius: 0px 0px 5px 5px;*/
  margin-bottom: 1em;
  padding-left: .5em;
}
.pickup {
}
.trip_info span {
  color: lightyellow;
}
.info {
  background-color: grey;
  width: 100%;
  margin-left: -1em;
  padding-left: 1em;
  border-bottom: 1px solid lightyellow;

}
.info span {
  padding-right: .2em;
}
.from {
  background-color: #2A2A3B;
}

.to {
  background-color: #2A2A3B;
}

.label {
  margin-top: 0;
  color: lightblue;
  padding-bottom: 0.1em;
}
.a_label {
   font-family: helvetica;
  /*color: lightyellow;*/
  font-weight: normal;
  color: lightblue;
  background-color: #2A2A2B;
  margin-left: -1em;
  padding-left: 1em;
}
/*data fill in styles*/
#from_avail {
  padding-right: 1em; 
}
#from_avg, #to_avg {
  float: right;
  padding-right: 1.5em;
  color: #2A2A3B;
}
#from_one_hr, #to_one_hr, #from_alt_one_hr, #to_alt_one_hr  {
  margin-right: .5em;
}
.forecasts, .a_averages {
  background-color: black;
  color: lightgrey;
  margin-left: -1em;
  padding-left: 1em;
}
#casts {
  color: lightblue;
}

/*map style*/


#map1 {
  position:absolute;
  top:2.79em;
  bottom:1em;
  right: 1em;
  margin-top: 1em;
  padding: 0;
  height: 95%;
  width: 77%;
  z-index: -1;
  -webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
  -moz-transition: width .5s;
  transition: width .5s;
}

/*leaflet map stuff*/
.leaflet-popup-pane .leaflet-popup-tip {
width: 30px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.leaflet-popup-pane button {
  cursor: pointer;
}
.leaflet-container a.leaflet-popup-close-button {

  background: black !important;
}
.leaflet-control-zoom {
  margin-left: 25px !important;
  margin-top: 15px !important;
}

/*login styles*/

#login-div, #signup-div  {
  background-color: #2A2A2B;
  color: lightblue;
}
#login-div button, #signup-div button {
  background-color: #2A2A3B;
  color: lightyellow;
}

.ui-dialog-titlebar {
  background-color: blue;
}

.ui-dialog, .ui-widget, .ui-widget-content, .ui-corner-all, .ui-front, .ui-draggable, .ui-resizable {
  background-color: black !important;
}
#ui-id-1, #ui-id-2  {
  font-family: helvetica;
  text-align: center;
  color: #2A2A2B;
}

/*vis styles*/

#hour {
  color:lightyellow;
  margin-left: 1em;
  margin-top: 2em;
}
#start-stop-button {
 margin-left: 1em; 
}
#slider-vertical {
  margin-left: 2em;
  margin-top: 2em;
}


