body {
 background-color: lightgray;
 margin: 0px;
}
.top-bar {
  height: 2.8em;
  background-color: black;
}
.title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: lightblue;
  position: absolute;
  top: .12em;
  left: 1.5em;
  font-family: helvetica;
}
.account_stuff {
  text-decoration: none;
  color: lightblue;
  font-size: 1em;
  font-family: helvetica;
  position: absolute;
  right: 2em;
  top:.8em;
}

.sidebar {
  position: absolute;
  margin: 0;
  top:2.79em;
  bottom:0;
  left:0;
  width: 20%;
  height: 100%;
  background-color: lightyellow;

}

.to, .from {
  background-color: lightgrey;
  font-family: helvetica;
  color: white;
  font-weight: bold;

}
.sidebar ul {
  background-color: lightyellow;
}
.sidebar li {
  font-weight: normal;
  color: lightblue;
}

#station-select {
  background-color: lightblue;
  color: white;
  font-size: 1.1em;
  width: 12em;
  position: absolute;
  left: 24%;
  margin-top: .5em;
  z-index: 99;
}

#map1 {
  position:absolute;
  top:3.77em;
  bottom:0;
  right:0;
  margin-top: .02em;
  margin-left: 0;
  padding: 0;
  height: 99%;
  width: 80%;
}


/*leaflet map stuff*/
.leaflet-popup-pane .leaflet-popup-tip {
width: 30px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.leaflet-popup-pane button {
  cursor: pointer;
}
.leaflet-container a.leaflet-popup-close-button {

  background: black !important;
}



}

